looking at a dataset of used cars from a German eBay website.

In [1]:
import numpy as np
import pandas as pd

In [2]:
autos = pd.read_csv('autos.csv', encoding = 'Latin-1')

In [3]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [4]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

There are 20 different columns

In [5]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [6]:
col_names_map={ 'dateCrawled': 'date_crawled', 
                'name' : 'name', 
                'seller' : 'seller',
                'offerType' : 'offer_type', 
                'price': 'price', 
                'abtest' : 'abtest',
                'vehicleType' : 'vehicle_type',
                'yearOfRegistration' : 'registration_year',
                'gearbox' : 'gearbox', 
                'powerPS' : 'power_PS',
                'model' : 'model',
                'odometer' : 'kilometers_run' ,
                'monthOfRegistration' : 'registration_month',
                'fuelType' : 'fuel_type',
                'brand' : 'brand',
                'notRepairedDamage' : 'unrepaired_damage',
                'dateCreated' : 'ad_created',
                'nrOfPictures' : 'no_of_pics',
                'postalCode' : 'postal_code',
                'lastSeen' : 'last_seen_online'
              }
autos.rename(columns = col_names_map, inplace = True )
print(autos.columns)

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_PS', 'model',
       'kilometers_run', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'no_of_pics', 'postal_code',
       'last_seen_online'],
      dtype='object')

In [7]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_PS,model,kilometers_run,registration_month,fuel_type,brand,unrepaired_damage,ad_created,no_of_pics,postal_code,last_seen_online
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [9]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_PS,model,kilometers_run,registration_month,fuel_type,brand,unrepaired_damage,ad_created,no_of_pics,postal_code,last_seen_online
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-19 17:36:18,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Note: no_of_pics is mostly '0'

In [16]:
autos["price"] = (autos["price"]
                    .str.replace("$", "")
                    .str.replace(",", "")
                    .astype(int)
                 )
                    
autos["price"].head()

0    5000
1    8500
2    8990
3    4350
4    1350
Name: price, dtype: int64

In [17]:
autos.rename({"price" : "price_usd"}, axis = 1, inplace = True)

In [19]:
autos['kilometers_run'].head()

0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
Name: kilometers_run, dtype: object

In [21]:
autos["kilometers_run"] = (autos["kilometers_run"]
                    .str.replace(",", "")
                    .str.replace("km", "")
                    .astype(int)
                 )
                    
autos["kilometers_run"].head()

0    150000
1    150000
2     70000
3     70000
4    150000
Name: kilometers_run, dtype: int64

In [22]:
autos.describe(include = 'all')

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_PS,model,kilometers_run,registration_month,fuel_type,brand,unrepaired_damage,ad_created,no_of_pics,postal_code,last_seen_online
count,50000,50000,50000,50000,5.000000e+04,50000,44905,50000.000000,47320,50000.000000,47242,50000.000000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,NaN,2,8,NaN,2,NaN,245,NaN,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-19 17:36:18,Ford_Fiesta,privat,Angebot,NaN,test,limousine,NaN,manuell,NaN,golf,NaN,NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,NaN,25756,12859,NaN,36993,NaN,4024,NaN,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,9.840044e+03,NaN,NaN,2005.073280,NaN,116.355920,NaN,125732.700000,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,4.811044e+05,NaN,NaN,105.712813,NaN,209.216627,NaN,40042.211706,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,1000.000000,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,1.100000e+03,NaN,NaN,1999.000000,NaN,70.000000,NaN,125000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,2.950000e+03,NaN,NaN,2003.000000,NaN,105.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,7.200000e+03,NaN,NaN,2008.000000,NaN,150.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,1.000000e+08,NaN,NaN,9999.000000,NaN,17700.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [24]:
autos["price_usd"].unique().shape
autos["price_usd"].describe()
autos["price_usd"].value_counts().head(10)
autos["price_usd"].value_counts().sort_index(ascending = False)

99999999       1
27322222       1
12345678       3
11111111       2
10000000       1
            ...
5              2
3              1
2              3
1            156
0           1421
Name: price_usd, Length: 2357, dtype: int64

In [26]:
autos = autos[autos["price_usd"].between(101, 9999999)].copy()
autos["price_usd"].value_counts().sort_index(ascending = False)
#remove outliers

3890000     1
1300000     1
1234566     1
999999      2
999990      1
           ..
120        39
117         1
115         2
111         2
110         3
Name: price_usd, Length: 2314, dtype: int64

In [28]:
autos["power_PS"].unique().shape

(442,)

In [29]:
autos["power_PS"].value_counts().sort_index().head(30)

0     4756
1        5
2        2
3        3
4        4
5       12
6        3
8        2
9        1
10       2
11       4
12       1
14       1
15       5
16       1
18       6
19       3
20       4
21       1
23       3
24       1
25       2
26      34
27       5
29       3
30       3
33       9
34      27
35       2
37       7
Name: power_PS, dtype: int64

In order to better understand what we are looking at, we need to investigate what kind of a unit of measure is PS. A quick Google search tells us: PS stands for PferdStarke (literally, 'horse strength' in German). This is basically metric horsepower as opposed to the imperial or mechanical measure of horsepower denoted by HP or BHP. 1 PS, equals 4,500 kilogram-metres per minute, which rounds to 32,550 foot-pounds per minute, or 0.9863 of a horsepower.

We can observe that there are 4986 vehicles with horsepower of 0, which is not possible. Maybe sellers had no info of the HP, which is unlikely since it is always specified in the vehicle permit. We can consider removing those rows. We can also consider to remove all rows with horsepower less than 50, since it is highly unlikely that cars have such low HP. - other

In [30]:
(autos["power_PS"] < 50).sum() / autos.shape[0]

0.11418829008649369

In [31]:
autos["power_PS"].value_counts(normalize = True).head(10)

0      0.098886
75     0.063165
60     0.043829
150    0.040877
140    0.038756
101    0.035720
90     0.035055
116    0.033579
170    0.030439
105    0.028921
Name: power_PS, dtype: float64

In [32]:
autos["registration_year"].unique().shape

(95,)

In [33]:
autos["registration_year"].describe()

count    48096.000000
mean      2004.748752
std         88.012845
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [34]:
autos["registration_year"].value_counts().sort_index(ascending = False).head(20)

9999       3
9000       1
8888       1
6200       1
5911       1
5000       3
4800       1
4500       1
4100       1
2800       1
2019       1
2018     468
2017    1382
2016    1196
2015     380
2014     662
2013     800
2012    1308
2011    1617
2010    1587
Name: registration_year, dtype: int64

In [36]:
autos["last_seen_online"].max()

'2016-04-07 14:58:50'

In [37]:
autos["date_crawled"].min()

'2016-03-05 14:06:30'

Since the max value of last_seen is in 2016, registration years 2017 and above are not valid. In addition, we need to combine year and month of registration to not exceed March 2016, since that is the date ads have been crawled. Any rows with registration months/years newer than February 2016 should be removed.

In [38]:
autos["registration_year"].value_counts().sort_index(ascending = True).head(20)

1000    1
1001    1
1111    1
1800    2
1910    2
1927    1
1929    1
1931    1
1934    2
1937    4
1938    1
1939    1
1941    2
1943    1
1948    1
1950    1
1951    2
1952    1
1953    1
1954    2
Name: registration_year, dtype: int64

In [39]:
autos[autos["registration_year"] < 1911]

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_PS,model,kilometers_run,registration_month,fuel_type,brand,unrepaired_damage,ad_created,no_of_pics,postal_code,last_seen_online
10556,2016-04-01 06:02:10,UNFAL_Auto,privat,Angebot,450,control,NaN,1800,NaN,1800,NaN,5000,2,NaN,mitsubishi,nein,2016-04-01 00:00:00,0,63322,2016-04-01 09:42:30
22316,2016-03-29 16:56:41,VW_Kaefer.__Zwei_zum_Preis_von_einem.,privat,Angebot,1500,control,NaN,1000,manuell,0,kaefer,5000,0,benzin,volkswagen,NaN,2016-03-29 00:00:00,0,48324,2016-03-31 10:15:28
22659,2016-03-14 08:51:18,Opel_Corsa_B,privat,Angebot,500,test,NaN,1910,NaN,0,corsa,150000,0,NaN,opel,NaN,2016-03-14 00:00:00,0,52393,2016-04-03 07:53:55
24511,2016-03-17 19:45:11,Trabant__wartburg__Ostalgie,privat,Angebot,490,control,NaN,1111,NaN,0,NaN,5000,0,NaN,trabant,NaN,2016-03-17 00:00:00,0,16818,2016-04-07 07:17:29
28693,2016-03-22 17:48:41,Renault_Twingo,privat,Angebot,599,control,kleinwagen,1910,manuell,0,NaN,5000,0,benzin,renault,NaN,2016-03-22 00:00:00,0,70376,2016-04-06 09:16:59
32585,2016-04-02 16:56:39,UNFAL_Auto,privat,Angebot,450,control,NaN,1800,NaN,1800,NaN,5000,2,NaN,mitsubishi,nein,2016-04-02 00:00:00,0,63322,2016-04-04 14:46:21
49283,2016-03-15 18:38:53,Citroen_HY,privat,Angebot,7750,control,NaN,1001,NaN,0,andere,5000,0,NaN,citroen,NaN,2016-03-15 00:00:00,0,66706,2016-04-06 18:47:20

In [40]:
autos[(autos["registration_year"] == 2016) & (autos["registration_month"] > 2)]

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_PS,model,kilometers_run,registration_month,fuel_type,brand,unrepaired_damage,ad_created,no_of_pics,postal_code,last_seen_online
135,2016-03-12 11:00:10,Opel_Meriva_B_Panoramadach__Sitz__und_Lenkradh...,privat,Angebot,8500,control,NaN,2016,manuell,81,meriva,90000,8,diesel,opel,NaN,2016-03-12 00:00:00,0,48147,2016-03-22 14:49:31
256,2016-04-03 20:50:38,Passat_1.9TDI_4Motion_Highline,privat,Angebot,4250,test,NaN,2016,manuell,131,passat,150000,11,NaN,volkswagen,NaN,2016-04-03 00:00:00,0,31224,2016-04-03 20:50:38
295,2016-03-28 03:36:22,Privat_anbiter,privat,Angebot,1000,control,NaN,2016,manuell,0,astra,150000,8,benzin,opel,NaN,2016-03-28 00:00:00,0,44147,2016-03-29 23:18:11
307,2016-03-15 22:50:48,Giessen_ford,privat,Angebot,2800,test,NaN,2016,manuell,109,focus,150000,8,NaN,ford,NaN,2016-03-15 00:00:00,0,35396,2016-04-07 05:16:07
437,2016-03-25 16:39:01,Mazda__klima_leder__Alufelgen,privat,Angebot,550,control,NaN,2016,manuell,0,NaN,150000,7,benzin,mazda,ja,2016-03-25 00:00:00,0,70372,2016-04-06 20:48:19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49547,2016-03-30 16:49:46,Smart_Passion_mit_Panorama_Dach,privat,Angebot,3600,test,NaN,2016,NaN,71,fortwo,125000,10,benzin,smart,NaN,2016-03-30 00:00:00,0,49413,2016-03-30 16:49:46
49852,2016-04-01 04:02:25,TOP__Golf_3_1.8l,privat,Angebot,1450,control,NaN,2016,NaN,75,golf,150000,7,benzin,volkswagen,NaN,2016-04-01 00:00:00,0,67661,2016-04-05 03:17:29
49876,2016-03-22 17:57:24,Audi_a5_3.0_tdi_s_line,privat,Angebot,14700,control,NaN,2016,manuell,0,NaN,150000,10,diesel,audi,NaN,2016-03-22 00:00:00,0,44227,2016-03-22 18:40:53
49919,2016-03-10 09:49:43,Fiat_Punto,privat,Angebot,180,test,NaN,2016,manuell,86,punto,150000,8,NaN,fiat,ja,2016-03-10 00:00:00,0,59558,2016-03-10 10:39:58
49938,2016-03-28 18:45:06,Mercedes_Benz_A_160_Avantgarde,privat,Angebot,2300,control,NaN,2016,automatik,102,a_klasse,150000,6,benzin,mercedes_benz,nein,2016-03-28 00:00:00,0,13507,2016-04-07 00:44:35

let's find the ratio of outliers

In [41]:
((autos["registration_year"] == 2016) & (autos["registration_month"] > 2)).sum() / autos.shape[0]

0.016300731869594146

In [42]:
(autos["registration_year"] < 1911).sum() / autos.shape[0]

0.000145542248835662

Above we have summed up all the rows which include registration years older than 1911, and all the rows which include registration dates newer than February 2016. Together they add up to approx. 1.6% of our data, so we can go ahead and remove them.

In [43]:
autos = autos[autos["registration_year"] > 1911]
autos = autos[autos["registration_year"] < 2016]
autos = autos[~((autos["registration_year"] == 2016) & (autos["registration_month"] > 2))]
autos["registration_year"].value_counts(normalize = True).head(15)

2000    0.068380
2005    0.064604
1999    0.063805
2004    0.059940
2003    0.059807
2006    0.059274
2001    0.058341
2002    0.054966
1998    0.051590
2007    0.050457
2008    0.049058
2009    0.046216
1997    0.042374
2011    0.035911
2010    0.035245
Name: registration_year, dtype: float64

Exploring Price by Brand*

In [44]:
autos["brand"].unique().shape

(40,)

In [45]:
autos["brand"].value_counts(normalize = True)

volkswagen        0.210736
bmw               0.111575
opel              0.105623
mercedes_benz     0.097761
audi              0.087590
ford              0.069357
renault           0.046371
peugeot           0.029604
fiat              0.025207
seat              0.018078
skoda             0.016656
nissan            0.015302
mazda             0.015124
smart             0.014213
citroen           0.014058
toyota            0.012881
hyundai           0.010083
sonstige_autos    0.009616
volvo             0.009239
mini              0.008839
mitsubishi        0.008150
honda             0.007840
kia               0.007218
alfa_romeo        0.006707
porsche           0.006085
suzuki            0.005885
chevrolet         0.005730
chrysler          0.003553
dacia             0.002687
daihatsu          0.002510
jeep              0.002310
subaru            0.002132
land_rover        0.002132
saab              0.001688
jaguar            0.001577
daewoo            0.001488
trabant           0.001399
rover             0.001310
lancia            0.001088
lada              0.000600
Name: brand, dtype: float64

In [46]:
brand_mean_prices = {}

In [47]:
brands_value_counts = autos["brand"].value_counts(normalize = True)
brands = brands_value_counts[:11].index
brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda'],
      dtype='object')

In [48]:
for b in brands:
    selected_rows = autos[autos["brand"] == b]
    mean_price = selected_rows["price_usd"].mean()
    brand_mean_prices[b] = int(mean_price)

We will now loop over each brand and calculate the mean price. Then we will assign the brand as a key to the dictionary, and calculated mean price for each brand as a value to the key (as integer for better readability).

In [49]:
brand_mean_prices

{'volkswagen': 5738,
 'bmw': 8694,
 'opel': 3058,
 'mercedes_benz': 8756,
 'audi': 9401,
 'ford': 4192,
 'renault': 2524,
 'peugeot': 3160,
 'fiat': 2905,
 'seat': 4472,
 'skoda': 6400}

We can see that the #1 brand, Volkswagen, has a very attractive mean price - it is much cheaper than BMW, Mercedes or Audi, while more expensive on average than Opel, Renault or Peugeot. The attractive price and German origin most likely make it so popular.

On the other hand, BMW, Mercedes and Audi are most expensive, but still rank amongst the Top 5.

Opel, Ford, Peugeot and Renault are less expensive than all the above mentioned brands, so it is realistic they will have a large portion of the market share.

In [50]:
brand_mean_mileage = {}

In [52]:
for b in brands:
    selected_rows = autos[autos["brand"] == b]
    mean_mileage = selected_rows["kilometers_run"].mean()
    brand_mean_mileage[b] = int(mean_mileage)
    
brand_mean_mileage

{'volkswagen': 128520,
 'bmw': 132615,
 'opel': 129280,
 'mercedes_benz': 130889,
 'audi': 129300,
 'ford': 123988,
 'renault': 128120,
 'peugeot': 127036,
 'fiat': 116400,
 'seat': 121406,
 'skoda': 111133}

*New df for Price vs. Mileage*

In [53]:
bmp_series = pd.Series(brand_mean_prices).sort_values(ascending = False)

In [54]:
bmp_series

audi             9401
mercedes_benz    8756
bmw              8694
skoda            6400
volkswagen       5738
seat             4472
ford             4192
peugeot          3160
opel             3058
fiat             2905
renault          2524
dtype: int64

In [55]:
bmm_series = pd.Series(brand_mean_mileage).sort_values(ascending = False)

In [56]:
bmm_series

bmw              132615
mercedes_benz    130889
audi             129300
opel             129280
volkswagen       128520
renault          128120
peugeot          127036
ford             123988
seat             121406
fiat             116400
skoda            111133
dtype: int64

In [57]:
mean_price_df = pd.DataFrame(bmp_series, columns = ["mean_price"])

In [58]:
mean_mileage_df = pd.DataFrame(bmm_series, columns = ["mean_mileage"])

In [59]:
mean_mileage_df["mean_price"] = mean_price_df

In [60]:
mean_mileage_df

               mean_mileage  mean_price
bmw                  132615        8694
mercedes_benz        130889        8756
audi                 129300        9401
opel                 129280        3058
volkswagen           128520        5738
renault              128120        2524
peugeot              127036        3160
ford                 123988        4192
seat                 121406        4472
fiat                 116400        2905
skoda                111133        6400

In [61]:
brand_info = mean_mileage_df

In [62]:
brand_info

               mean_mileage  mean_price
bmw                  132615        8694
mercedes_benz        130889        8756
audi                 129300        9401
opel                 129280        3058
volkswagen           128520        5738
renault              128120        2524
peugeot              127036        3160
ford                 123988        4192
seat                 121406        4472
fiat                 116400        2905
skoda                111133        6400

We have merged both series into one dataframe called brand_info with values sorted in a descending order. Now we can easily compare prices vs mileage.

We cannot observe a large gap in mileage, but rather a trend that more expensive brands tend to have slightly higher mileage than less expensive brands. Exception is Skoda, which has quite low mileage for the mean price.

Since Mercedes, BMW and Audi mostly make limousines, it may be the reason why these brands have higher mean mileages - limousines are mostly used for long range travel, while cheaper vehicles will mostly be used within the city limits, for commuting.

In [64]:
# Avg. Price of damaged cars
damaged_cars_prc = autos.loc[autos["unrepaired_damage"] == "yes","price_usd"].mean()
# Avg. Price of non-damaged cars
undamaged_cars_prc = autos.loc[autos["unrepaired_damage"] == "no","price_usd"].mean()

print("Difference between the price of non-damaged and damaged cars :")
print(undamaged_cars_prc - damaged_cars_prc)

Difference between the price of non-damaged and damaged cars :
nan

Convert the dates to be uniform numeric data, so "2016-03-21" becomes the integer 20160321

In [65]:
autos.loc[:,"date_crawled"] = autos.loc[:,"date_crawled"].str[:10].str.replace("-","").astype(int)
autos.loc[:,"ad_created"] = autos.loc[:,"ad_created"].str[:10].str.replace("-","").astype(int)
autos.loc[:,"last_seen_online"] = autos.loc[:,"last_seen_online"].str[:10].str.replace("-","").astype(int)
print(autos.loc[:,"last_seen_online"].dtype)
autos

int64

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_PS,model,kilometers_run,registration_month,fuel_type,brand,unrepaired_damage,ad_created,no_of_pics,postal_code,last_seen_online
0,20160326,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,20160326,0,79588,20160406
1,20160404,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,20160404,0,71034,20160406
2,20160326,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,20160326,0,35394,20160406
3,20160312,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,20160312,0,33729,20160315
4,20160401,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,20160401,0,39218,20160401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,20160327,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,20160327,0,82131,20160401
49996,20160328,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980,control,cabrio,1996,manuell,75,astra,150000,5,benzin,opel,nein,20160328,0,44807,20160402
49997,20160402,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,20160402,0,73430,20160404
49998,20160308,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,20160308,0,35683,20160405
49999,20160314,Opel_Vectra_1.6_16V,privat,Angebot,1250,control,limousine,1996,manuell,101,vectra,150000,1,benzin,opel,nein,20160313,0,45897,20160406

See if there are particular keywords in the name column that you can extract as new columns:

In [66]:
# Checking for cars with "sport" in their name.
sport_utility = autos[autos["name"].str.contains("Sport", case= False)]
sport_utility

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_PS,model,kilometers_run,registration_month,fuel_type,brand,unrepaired_damage,ad_created,no_of_pics,postal_code,last_seen_online
24,20160403,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,48500,control,limousine,2014,automatik,306,5er,30000,12,benzin,bmw,nein,20160403,0,22547,20160407
33,20160315,Audi_A3_2.0_TDI_Sportback_DPF_Kupplung_defekt_...,privat,Angebot,4800,test,kombi,2006,manuell,140,a3,150000,8,diesel,audi,nein,20160315,0,61169,20160407
48,20160320,Mercedes_C180_Sport_1_8l,privat,Angebot,1099,test,limousine,1998,manuell,122,c_klasse,150000,2,benzin,mercedes_benz,nein,20160320,0,83024,20160324
50,20160309,??_????????_??Top!!!_Peugeot_308_sw_Sport_?...,privat,Angebot,5999,test,kombi,2008,manuell,150,3_reihe,125000,8,benzin,peugeot,nein,20160309,0,55569,20160407
83,20160405,BMW_118d_M_Sport_Packet_DPF,privat,Angebot,8490,test,limousine,2008,manuell,143,1er,150000,12,diesel,bmw,nein,20160405,0,81825,20160405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49955,20160330,Golf_1.9_TDI_DPF_4mot_GT_Sport,privat,Angebot,3400,control,limousine,2008,NaN,0,golf,150000,11,diesel,volkswagen,nein,20160330,0,83512,20160330
49961,20160314,Golf_2.0_TDI_Sportline_Sonderproduktion,privat,Angebot,3200,control,limousine,2007,manuell,140,golf,150000,7,diesel,volkswagen,NaN,20160314,0,65760,20160314
49969,20160317,Nissan_X_Trail_2.2_dCi_4x4_Sport_m.AHZ,privat,Angebot,4500,control,suv,2005,manuell,136,x_trail,150000,5,diesel,nissan,nein,20160317,0,17379,20160325
49992,20160310,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,4800,control,kleinwagen,2009,manuell,120,andere,125000,9,lpg,fiat,nein,20160310,0,68642,20160313
49998,20160308,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,20160308,0,35683,20160405

There are 2482 rows in the name column with the keyword "sport". We can create a separate column named "sport_utility" and assign 'yes' or 'no'

In [67]:
autos.loc[:,"sport_utility"] = "no"
autos.loc[autos["name"].str.contains("sport", case= False),"sport_utility"] = "Yes"
autos

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_PS,...,kilometers_run,registration_month,fuel_type,brand,unrepaired_damage,ad_created,no_of_pics,postal_code,last_seen_online,sport_utility
0,20160326,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,...,150000,3,lpg,peugeot,nein,20160326,0,79588,20160406,no
1,20160404,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,...,150000,6,benzin,bmw,nein,20160404,0,71034,20160406,no
2,20160326,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,...,70000,7,benzin,volkswagen,nein,20160326,0,35394,20160406,no
3,20160312,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,...,70000,6,benzin,smart,nein,20160312,0,33729,20160315,no
4,20160401,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,...,150000,7,benzin,ford,nein,20160401,0,39218,20160401,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,20160327,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,...,100000,1,diesel,audi,nein,20160327,0,82131,20160401,no
49996,20160328,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980,control,cabrio,1996,manuell,75,...,150000,5,benzin,opel,nein,20160328,0,44807,20160402,no
49997,20160402,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,...,5000,11,benzin,fiat,nein,20160402,0,73430,20160404,no
49998,20160308,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,...,40000,11,diesel,audi,nein,20160308,0,35683,20160405,Yes
49999,20160314,Opel_Vectra_1.6_16V,privat,Angebot,1250,control,limousine,1996,manuell,101,...,150000,1,benzin,opel,nein,20160313,0,45897,20160406,no

Looking for vehicle names with "wohnmobil" or "Wohnwagen" whic are German for "Motor Home" and "Caravan":

In [68]:
autos[autos["name"].str.contains("wohnmobil", case= False) | autos["name"].str.contains("Wohnwagen", case= False) ]

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_PS,...,kilometers_run,registration_month,fuel_type,brand,unrepaired_damage,ad_created,no_of_pics,postal_code,last_seen_online,sport_utility
362,20160402,Mercedes_Benz_Viano_CDI_3.0_Marco_Polo_Wohnmob...,privat,Angebot,42999,control,bus,2013,automatik,224,...,50000,11,NaN,mercedes_benz,nein,20160402,0,10711,20160402,no
1932,20160306,Verkaufe_unser_Wohnmobilbegleitfahrzeug_mit_Tr...,privat,Angebot,2900,test,cabrio,2002,automatik,10,...,30000,6,benzin,sonstige_autos,nein,20160229,0,8132,20160310,Yes
2403,20160324,Fiat_Ducato__wohnmobil_.2.5diesel,privat,Angebot,3999,test,bus,1987,manuell,116,...,125000,5,diesel,fiat,nein,20160324,0,60314,20160405,no
3940,20160315,Volkswagen_T5_Wohnmobil,privat,Angebot,19500,control,bus,2010,manuell,140,...,150000,4,diesel,volkswagen,nein,20160315,0,58730,20160323,no
4443,20160316,Mercedes_MB_100_Diesel_Wohnmobil_Luna_Holiday,privat,Angebot,8900,control,bus,1992,manuell,75,...,150000,3,diesel,mercedes_benz,nein,20160316,0,12169,20160407,no
8555,20160402,Barkas_B1000__2Takter_Fensterbus__Partybus__Wo...,privat,Angebot,3900,control,bus,1988,manuell,46,...,10000,7,benzin,sonstige_autos,NaN,20160402,0,51709,20160406,no
10335,20160324,Volkswagen_T4_Wohnmobil,privat,Angebot,2899,test,bus,1994,manuell,77,...,150000,10,diesel,volkswagen,nein,20160324,0,28219,20160325,no
12066,20160310,Wohnwagen_LMC__10_2009,privat,Angebot,9700,control,andere,2009,NaN,0,...,5000,10,andere,sonstige_autos,NaN,20160310,0,26789,20160315,no
13894,20160324,VW_T3_Bulli_Bj_80_Camping_Wohnmobil,privat,Angebot,1800,test,bus,1980,manuell,70,...,90000,0,NaN,volkswagen,ja,20160324,0,41352,20160405,no
14189,20160402,300_TDI_Land_Rover_Defender_Wohnmobil_Allrad_4...,privat,Angebot,16800,test,suv,1996,manuell,110,...,150000,10,diesel,land_rover,NaN,20160402,0,59302,20160407,no
14373,20160329,Wohnmobil__Fahrer_aufgepasst!__Smart_auf_Anhae...,privat,Angebot,5999,control,kleinwagen,2005,automatik,61,...,125000,9,benzin,smart,nein,20160329,0,97447,20160406,no
19370,20160402,VW_T4_Multivan_Bus___TÜV___VR6_mit_140_PS___LP...,privat,Angebot,4700,control,bus,1996,manuell,140,...,150000,7,benzin,volkswagen,nein,20160402,0,26384,20160406,no
21869,20160404,VW_T3_Wohnmobil,privat,Angebot,6999,test,andere,1991,manuell,69,...,90000,5,diesel,volkswagen,nein,20160404,0,49076,20160406,no
23449,20160326,Sprinter_4x4_Werkstattwagen_Wohnmobil,privat,Angebot,17500,control,andere,2007,manuell,150,...,150000,10,diesel,mercedes_benz,nein,20160326,0,26409,20160406,no
23785,20160330,Wohnmobil_fuer4_Personen__wegen_Platzmangel_un...,privat,Angebot,1750,control,bus,1995,manuell,0,...,5000,9,diesel,fiat,NaN,20160330,0,33607,20160331,no
25867,20160320,vw_t4_multivan_allstar_2.5_benzin_lpg_wohnwage...,privat,Angebot,4950,test,bus,1996,automatik,0,...,150000,10,lpg,volkswagen,NaN,20160320,0,12203,20160326,no
27600,20160329,BMW_e39_Tausch_gegen_Wohnmobile,privat,Angebot,6000,control,kombi,2003,manuell,192,...,150000,0,NaN,bmw,nein,20160329,0,92224,20160331,no
31238,20160316,vw_t4_multivan_allstar_2.5_benzin_lpg_wohnwage...,privat,Angebot,5700,control,bus,1996,automatik,0,...,150000,10,lpg,volkswagen,NaN,20160316,0,12203,20160319,no
32101,20160329,Volkswagen_VW_T4_Wohnmobil___VR6___140_PS___Au...,privat,Angebot,10500,control,bus,1998,automatik,141,...,150000,2,lpg,volkswagen,nein,20160329,0,10823,20160402,no
33098,20160329,T4_Multivan_151_PS_Wohnmobilzulassung,privat,Angebot,6000,control,bus,1999,manuell,151,...,150000,2,diesel,volkswagen,nein,20160329,0,21435,20160406,no
34491,20160324,VW_T4_Multivan_Wohnmobilzulassung_Reimo_Ausste...,privat,Angebot,1500,test,bus,1992,manuell,78,...,150000,9,diesel,volkswagen,NaN,20160324,0,67550,20160324,no
35143,20160314,VW_T5_Multivan_Facelift_mit_Wohnmobil_Zulassung,privat,Angebot,31900,test,bus,2010,manuell,140,...,70000,4,diesel,volkswagen,nein,20160313,0,24145,20160407,no
40600,20160309,VW_T4_Transporter_Wohnmobil__VR6__140_PS__g...,privat,Angebot,10500,control,bus,1998,automatik,140,...,150000,2,lpg,volkswagen,nein,20160309,0,22767,20160328,Yes
41929,20160401,Volkswagen_VW_T4_California_mit_Westfalia_Auss...,privat,Angebot,9600,control,bus,1994,automatik,77,...,150000,4,diesel,volkswagen,nein,20160401,0,52066,20160405,no
44144,20160316,Mercedes_Benz_MB_100_Wohnmobil_Laluna_Holiday,privat,Angebot,8900,test,bus,1992,manuell,75,...,150000,3,diesel,mercedes_benz,nein,20160316,0,12169,20160407,no
45118,20160324,Peugeot_Wohnmobil_Europa_650_FFB,privat,Angebot,11850,test,andere,1995,manuell,0,...,150000,5,diesel,peugeot,NaN,20160324,0,85598,20160326,no
48846,20160311,Passat_35i_+_Oldtimer_Wohnwagen_zum_tausch_geg...,privat,Angebot,2300,test,kombi,1995,manuell,115,...,150000,9,benzin,volkswagen,NaN,20160311,0,91799,20160322,no

There are 27 rows with the term "wohnmobil" or "Wohnwagen" in the name column. So we can create a new column named "motor_home" with values "yes" for the corresponding rows.

In [69]:
autos["motor_home"] = "no"
autos.loc[(autos["name"].str.contains("wohnmobil", case= False) | autos["name"].str.contains("Wohnwagen", case= False)), "motor_home"] = "yes"
autos[autos["name"].str.contains("wohnmobil", case= False) | autos["name"].str.contains("Wohnwagen", case= False) ]

,date_crawled,name,seller,offer_type,price_usd,abtest,vehicle_type,registration_year,gearbox,power_PS,...,registration_month,fuel_type,brand,unrepaired_damage,ad_created,no_of_pics,postal_code,last_seen_online,sport_utility,motor_home
362,20160402,Mercedes_Benz_Viano_CDI_3.0_Marco_Polo_Wohnmob...,privat,Angebot,42999,control,bus,2013,automatik,224,...,11,NaN,mercedes_benz,nein,20160402,0,10711,20160402,no,yes
1932,20160306,Verkaufe_unser_Wohnmobilbegleitfahrzeug_mit_Tr...,privat,Angebot,2900,test,cabrio,2002,automatik,10,...,6,benzin,sonstige_autos,nein,20160229,0,8132,20160310,Yes,yes
2403,20160324,Fiat_Ducato__wohnmobil_.2.5diesel,privat,Angebot,3999,test,bus,1987,manuell,116,...,5,diesel,fiat,nein,20160324,0,60314,20160405,no,yes
3940,20160315,Volkswagen_T5_Wohnmobil,privat,Angebot,19500,control,bus,2010,manuell,140,...,4,diesel,volkswagen,nein,20160315,0,58730,20160323,no,yes
4443,20160316,Mercedes_MB_100_Diesel_Wohnmobil_Luna_Holiday,privat,Angebot,8900,control,bus,1992,manuell,75,...,3,diesel,mercedes_benz,nein,20160316,0,12169,20160407,no,yes
8555,20160402,Barkas_B1000__2Takter_Fensterbus__Partybus__Wo...,privat,Angebot,3900,control,bus,1988,manuell,46,...,7,benzin,sonstige_autos,NaN,20160402,0,51709,20160406,no,yes
10335,20160324,Volkswagen_T4_Wohnmobil,privat,Angebot,2899,test,bus,1994,manuell,77,...,10,diesel,volkswagen,nein,20160324,0,28219,20160325,no,yes
12066,20160310,Wohnwagen_LMC__10_2009,privat,Angebot,9700,control,andere,2009,NaN,0,...,10,andere,sonstige_autos,NaN,20160310,0,26789,20160315,no,yes
13894,20160324,VW_T3_Bulli_Bj_80_Camping_Wohnmobil,privat,Angebot,1800,test,bus,1980,manuell,70,...,0,NaN,volkswagen,ja,20160324,0,41352,20160405,no,yes
14189,20160402,300_TDI_Land_Rover_Defender_Wohnmobil_Allrad_4...,privat,Angebot,16800,test,suv,1996,manuell,110,...,10,diesel,land_rover,NaN,20160402,0,59302,20160407,no,yes
14373,20160329,Wohnmobil__Fahrer_aufgepasst!__Smart_auf_Anhae...,privat,Angebot,5999,control,kleinwagen,2005,automatik,61,...,9,benzin,smart,nein,20160329,0,97447,20160406,no,yes
19370,20160402,VW_T4_Multivan_Bus___TÜV___VR6_mit_140_PS___LP...,privat,Angebot,4700,control,bus,1996,manuell,140,...,7,benzin,volkswagen,nein,20160402,0,26384,20160406,no,yes
21869,20160404,VW_T3_Wohnmobil,privat,Angebot,6999,test,andere,1991,manuell,69,...,5,diesel,volkswagen,nein,20160404,0,49076,20160406,no,yes
23449,20160326,Sprinter_4x4_Werkstattwagen_Wohnmobil,privat,Angebot,17500,control,andere,2007,manuell,150,...,10,diesel,mercedes_benz,nein,20160326,0,26409,20160406,no,yes
23785,20160330,Wohnmobil_fuer4_Personen__wegen_Platzmangel_un...,privat,Angebot,1750,control,bus,1995,manuell,0,...,9,diesel,fiat,NaN,20160330,0,33607,20160331,no,yes
25867,20160320,vw_t4_multivan_allstar_2.5_benzin_lpg_wohnwage...,privat,Angebot,4950,test,bus,1996,automatik,0,...,10,lpg,volkswagen,NaN,20160320,0,12203,20160326,no,yes
27600,20160329,BMW_e39_Tausch_gegen_Wohnmobile,privat,Angebot,6000,control,kombi,2003,manuell,192,...,0,NaN,bmw,nein,20160329,0,92224,20160331,no,yes
31238,20160316,vw_t4_multivan_allstar_2.5_benzin_lpg_wohnwage...,privat,Angebot,5700,control,bus,1996,automatik,0,...,10,lpg,volkswagen,NaN,20160316,0,12203,20160319,no,yes
32101,20160329,Volkswagen_VW_T4_Wohnmobil___VR6___140_PS___Au...,privat,Angebot,10500,control,bus,1998,automatik,141,...,2,lpg,volkswagen,nein,20160329,0,10823,20160402,no,yes
33098,20160329,T4_Multivan_151_PS_Wohnmobilzulassung,privat,Angebot,6000,control,bus,1999,manuell,151,...,2,diesel,volkswagen,nein,20160329,0,21435,20160406,no,yes
34491,20160324,VW_T4_Multivan_Wohnmobilzulassung_Reimo_Ausste...,privat,Angebot,1500,test,bus,1992,manuell,78,...,9,diesel,volkswagen,NaN,20160324,0,67550,20160324,no,yes
35143,20160314,VW_T5_Multivan_Facelift_mit_Wohnmobil_Zulassung,privat,Angebot,31900,test,bus,2010,manuell,140,...,4,diesel,volkswagen,nein,20160313,0,24145,20160407,no,yes
40600,20160309,VW_T4_Transporter_Wohnmobil__VR6__140_PS__g...,privat,Angebot,10500,control,bus,1998,automatik,140,...,2,lpg,volkswagen,nein,20160309,0,22767,20160328,Yes,yes
41929,20160401,Volkswagen_VW_T4_California_mit_Westfalia_Auss...,privat,Angebot,9600,control,bus,1994,automatik,77,...,4,diesel,volkswagen,nein,20160401,0,52066,20160405,no,yes
44144,20160316,Mercedes_Benz_MB_100_Wohnmobil_Laluna_Holiday,privat,Angebot,8900,test,bus,1992,manuell,75,...,3,diesel,mercedes_benz,nein,20160316,0,12169,20160407,no,yes
45118,20160324,Peugeot_Wohnmobil_Europa_650_FFB,privat,Angebot,11850,test,andere,1995,manuell,0,...,5,diesel,peugeot,NaN,20160324,0,85598,20160326,no,yes
48846,20160311,Passat_35i_+_Oldtimer_Wohnwagen_zum_tausch_geg...,privat,Angebot,2300,test,kombi,1995,manuell,115,...,9,benzin,volkswagen,NaN,20160311,0,91799,20160322,no,yes